*{
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
body {
    font-family: Lato, Helvetica, Arial, sans-serif;  
}
  #navbar {
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0.5%;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  .logo {
    margin-top: 20px;
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
      .logo {
  /*       margin-left: 5px; */
      }
    }
    #menu a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        font-weight: bold;
      }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: 40px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease;  }
  
  #navbar li a:hover {
    border-bottom: 2px solid #BF0B1A; 
    color: #BF0B1A;
    transition: all 0.1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.1s;
  }
  
  #navbar li a:after {
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  .sbo{
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }  #search{
    border-radius: 5px;
    outline: none;
    width: 40%;
    padding: 20px;
    background: transparent;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 60px;    
    letter-spacing: 2px;
    text-transform: uppercase;
  }